.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}




.LandingLineHeadding {
  margin-top: 12vh;
  text-align: center;
  font-family: Manrope;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 125.025%; 
  background: linear-gradient(158deg, #E31E24 15.67%, #262065 53.76%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  p {
    text-align: center;
    font-family: Manrope;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 125.025%; /* 295.737px */
    background: black;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.LandingLineSubHeadding {
  color: #3e3e3e;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.LandingEnding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.LandingBanner {
  position: relative;
  z-index: 2;
}
.BannerPodium {
  width: 60%;
  height: 200px;
  flex-shrink: 0;
  border-radius: 60%;
  background: linear-gradient(180deg, #898989 -76.06%, #fafafa 51.66%);
  position: relative;
  top: -70px;
  z-index: 0;
}
